#room-main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
  overflow: hidden;
}

#room-header {

}

#room-chat-container {
  display: grid;
  grid-template-rows: 1fr auto;
  overflow: hidden;
}

#room-message-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  background: #353135;
}

#room-user-list {
  display: flex;
  flex-direction: column;
  grid-row: 1/3;
  grid-column: 2;
  width: 100%;
  height: 100%;
  background: #353135;
  border-left: solid 2px #312e31;
}

.room-user-list-item {
  display: grid;
  grid-template-rows: 4em;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 1em;
  padding: 0.5rem;
  background: #3b363c;
  margin-bottom: 0.25rem;
}

.room-user-list-item-image {
  height: 100%;
  border-radius: 100%;
}

.chat-message:hover {
  background: #302c31;
}
.chat-message {
  display: grid;
  grid-template-columns: min-content min-content min-content auto;
  grid-template-rows: auto;
  padding: 0.5em;
  background: #3b363c;
  box-shadow: #302c31 0px 2px 8px 0px;
  margin-bottom: 1em;
}

.chat-message-sender-image {
  width: 4em;
  border-radius: 100%;
  margin: 0.25em;
  grid-row: 1/3;
  border: solid 1px #302c31;
  box-shadow: #373737 0px 1px 5px -2px;
}

.chat-message-sender-name {
  width: max-content;
  margin:0.25em;
}

.chat-message-time {
  width: max-content;
  margin:0.25em;
}

.chat-message-text {
  margin:0.25em;
  word-break: break-all;
  grid-column: 2/none;
}


.chat-message-sender {
  display: flex;
  flex-direction: row;
  grid-row: 1/2;
  grid-column: 2;
}

#message-form {
  height: min-content;
  max-height: 20em;
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  background: #353135;
}

#message-input {
  border: 1px solid #2f2f2f;
  font-family: arial, sans-serif;
  font-size: 1.1em;
  padding: 0.25em;
  display: block;
  width: 100%;
  overflow: hidden;
  min-height: 40px;
  background: #3b363c;
  line-height: 20px;
  resize: none;
  border-radius: 0.75em;
  margin: 0.25em;
  outline: none;
  color: #b3b3b3;
}