#header-profile-card-container {
  width: 13em;
  margin-right: 1.5em;
}

#header-profile-card-container:hover #header-profile-card-options {
  display: grid;
}

#header-profile-card {
  display: grid;
  gap: 0.25em;
  padding: 0.25em;
  justify-self: end;
  width: inherit;
  justify-content: start;
  align-items: center;
  border: solid 1px rgb(52 47 53);
  box-shadow: #373338 1px 1px 4px -2px;
  color: #3d90e3;
  text-decoration: none;
  font-size: 1.2em;
  background: #4f4950;
}

#header-profile-card:hover, .header-profile-card-options.option:hover {
  color: rgb(206, 206, 206);
}

#header-profile-card-image {
  grid-column: 1/2;
  width: auto;
  height: 2.5em;
  border-radius: 100%;
  border: solid #433f44 1px;
}

#header-profile-card-name {
  grid-column: 2/auto;
  width: 7em;
  overflow: hidden;
  text-overflow: ellipsis;
}

#header-profile-card-options {
  display: none;
  position: absolute;
  background-color: #4f4950;
  width: inherit;
  gap: 0.25em;
  padding: 0.25em;
  justify-self: end;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(52 47 53);
  box-shadow: #626262 1px 1px 4px -2px;
  font-size: 1.2em;
}

.header-profile-card-options.option {
  color: #3d90e3;
  text-decoration: none;
  width: inherit;
  text-align: center;
  padding: 0.5em 0 .5em 0;
}