header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  padding-left: 1em;
  border-bottom: solid 1px rgb(53 49 53);
  box-shadow: #000000 1px 1px 4px -2px;
  background: #3b363c;
}

#header-logo {
  height: 3.5em;
  margin-right: 0.5em;
}

header > a.link {
  display: grid;
  align-content: center;
  width: 5em;
  height: inherit;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

header > a {
  color: #b5b9bd;
  text-decoration: none;
  font-size: 1.2em;
}

header > a:hover {
  color: #164E87;
}